<h1>Welcome to Example Node App {{version}}</h2>


<h3>Your friendly tip of the day is: {{tip}}</h3>
<p>Tips are brought to you by the nodejs tip-service {{tipServiceVersion}}</p>

<h3>{{goGreeting}}</h3>
